#---------------------
 
#these are created autometically by Python
#They should never be commited 
#---------------------



__pycache__/

.venv/
venv/

.ipynb_checkpoints/



#---------------------
#Virtual environment 
#ech develope creates their onw environment 
#we only track requirements.txt instead
#--------------------
